<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <!-- ========================= SECURITY ======================== -->

    <sec:http auto-config="false" access-denied-page="/accessDenied.xhtml"
              entry-point-ref="authenticationProcessingFilterEntryPoint">

        <sec:custom-filter position="FORM_LOGIN_FILTER" ref="usernamePasswordFilter" />
        <!--<sec:custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="blacklistFilter"/>-->

        <sec:intercept-url pattern="/login.xhtml" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <sec:intercept-url pattern="/index.xhtml" access="IS_AUTHENTICATED_ANONYMOUSLY"/>

        <sec:intercept-url pattern="/**/items.xhtml" access="ROLE_ADMIN, ROLE_MANAGER"/>
        <sec:intercept-url pattern="/**/orders.xhtml" access="ROLE_ADMIN, ROLE_MANAGER"/>
        <sec:intercept-url pattern="/**/dashboard.xhtml" access="ROLE_ADMIN, ROLE_MANAGER"/>

        <sec:intercept-url pattern="/**/administration.xhtml" access="ROLE_ADMIN"/>
        <sec:intercept-url pattern="/**/company.xhtml" access="ROLE_ADMIN"/>
        <sec:intercept-url pattern="/**/users.xhtml" access="ROLE_ADMIN"/>
        <sec:intercept-url pattern="/**/mail.xhtml" access="ROLE_ADMIN"/>

        <!--==================Concurrent Session Control in Spring Security================-->
        <sec:session-management session-authentication-strategy-ref="sas"/>

        <sec:logout delete-cookies="JSESSIONID" logout-url="/j_spring_security_logout"/>
        <!--======================Detect Session Timeout=======================-->
        <!--<sec:session-management invalid-session-url="/login.xhtml"/>-->
    </sec:http>
    <!-- Конфигурируем точку входа в приложение -->
    <bean id="authenticationProcessingFilterEntryPoint"
                class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <property name="loginFormUrl" value="/auth_c.xhtml" />
        <property name="forceHttps" value="false" />
    </bean>
    <!-- Конфигурируем реестр сессий -->
    <bean id="sessionRegistry"
                class="org.springframework.security.core.session.SessionRegistryImpl" />
    <!-- Конфигурируем бин стратегии контроля сессий. Не ограничиваем
   множественность входа (нам это сейчас не нужно, по этой же причине
    мы не использовали фильтр ConcurrentSessionFilter)
  -->
    <bean id="sas" class=
            "org.springframework.security.web.authentication.session.ConcurrentSessionControlStrategy">
        <constructor-arg ref="sessionRegistry" />
        <property name="maximumSessions" value="-1" />
    </bean>
    <!-- Конфигурируем фильтр входа по логину / паролю, задавая ссылку на стратегию,
    а также ссылки на бины обработчиков успешного / неуспешного входа
    -->
    <bean id="usernamePasswordFilter" class=
            "org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
        <property name="sessionAuthenticationStrategy" ref="sas" />
        <property name="authenticationManager" ref="authenticationManagerSQL" />
        <property name="authenticationFailureHandler" ref="loginFailureHandler"/>
        <property name="authenticationSuccessHandler" ref="loginSuccessHandler"/>
    </bean>

    <!-- Обработчики успешного / неуспешного логина. Стандартные -->
    <bean id="loginSuccessHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler" >
        <property name="defaultTargetUrl" value="/index.xhtml"/>
    </bean>

    <bean id="loginFailureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler" >
        <property name="defaultFailureUrl" value="/auth_c.xhtml?loginError=1" />
    </bean>
    <bean id="blacklistFilter" class="security.BlacklistFilter" />


    <sec:authentication-manager alias="authenticationManager">
        <sec:authentication-provider>
            <sec:user-service>
                <sec:user authorities="ROLE_ADMIN" name="admin" password="admin123!" />
                <sec:user authorities="ROLE_USER" name="user" password="user123!" />
                <sec:user authorities="ROLE_MANAGER" name="manager" password="manager123!" />
            </sec:user-service>
        </sec:authentication-provider>
    </sec:authentication-manager>

    <sec:authentication-manager alias="authenticationManagerSQL">
        <sec:authentication-provider>
        <sec:jdbc-user-service data-source-ref="dataSourceMySQL"
                                   users-by-username-query="
                      select login, password, enabled
                      from users where login=?"
                                   authorities-by-username-query="
                     select login, authority from authorites where login =?  "
                    />
        </sec:authentication-provider>
    </sec:authentication-manager>
    <bean id="dataSourceMySQL" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/orders" />
        <property name="username" value="root" />
        <property name="password" value="java" />
    </bean>

</beans>